<section *ngIf="isDataAvailable">
  <form #signForm="ngForm" (ngSubmit)="onSubmit()">
    <bb-textInput [config]="formData.email" [(model)]="signup.email"></bb-textInput>
    <bb-textInput [config]="formData.password" [(model)]="signup.password"></bb-textInput>
    <bb-textInput [config]="formData.confirmPassword" [(model)]="signup.confPassword"></bb-textInput>
    <bb-textInput [config]="formData.name" [(model)]="signup.name"></bb-textInput>
    <bb-textInput [config]="formData.age" [(model)]="signup.age"></bb-textInput>
    <div class="form-group">
      <label for="gender">Gender</label>
      <select [(ngModel)]="signup.gender" name="gender" placeholder="Gender" required #gender="ngModel" class="form-control">
        <option *ngFor="let x of genders" [value]="x.value" [selected]="">{{x.name}}</option>
      </select>
      <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="alert alert-danger">
        <div *ngIf="gender.errors.required">
          Gender is required.
        </div>
        <div *ngIf="gender.invalid && !(gender.errors.required)">
          Invalid Gender.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="bloodType">Blood Group</label>
      <select [(ngModel)]="signup.bloodType" name="bloodType" placeholder="Blood Group" required #bloodType="ngModel" class="form-control">
        <option *ngFor="let x of bloodTypes" [value]="x.value" [selected]="">{{x.value}}</option>
      </select>
      <div *ngIf="bloodType.invalid && (bloodType.dirty || bloodType.touched)" class="alert alert-danger">
        <div *ngIf="bloodType.errors.required">
          Blood Group is required.
        </div>
        <div *ngIf="bloodType.invalid && !(bloodType.errors.required)">
          Invalid Blood Group.
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class=''>
        <button type="submit" class="btn btn-primary" [disabled]="!signForm.form.valid">Sign up</button>
      </div>
    </div>
  </form>
</section>